{% extends "layouts/auth_base.html" %}
{% block content %}
<div class="login-box">
  <div class="card"><div class="card-body login-card-body">
    {% if validlink %}
      <p class="login-box-msg">Nhập mật khẩu mới cho tài khoản</p>
      <form method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="input-group mb-3">
          {{ form.new_password1 }}
        </div>
        <div class="input-group mb-3">
          {{ form.new_password2 }}
        </div>
        <button class="btn btn-success btn-block">Đổi mật khẩu</button>
      </form>
    {% else %}
      <p>Liên kết không hợp lệ hoặc đã dùng rồi. Vui lòng gửi yêu cầu đặt lại mật khẩu lại.</p>
      <a href="{% url 'password_reset' %}">Gửi yêu cầu mới</a>
    {% endif %}
  </div></div>
</div>
{% endblock %}

